body {
            font-family: Arial, sans-serif;
            background-image: url("./images/bg.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            overflow: hidden; /* Prevent scrolling */
        }
        header {
            color: white;
            width: 100%;
            height: 17%;
            padding: 10px;
            position: fixed; 
            top: 0;
            background-color: rgba(0, 0, 0, 0.3); 
            border-bottom: 0.5px solid white; 
        }
        .info {
            width: 150px;
            border: 1px solid white;
            border-radius: 40px;
            background-color: rgba(71, 55, 212, 0.3); 
            padding: 10px;
            margin-right: 15px;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            text-align: left;
        }
        .user-details {
            display: flex;
            align-items: center;
            margin: 9px;
            gap: 10px; /* Space between image and text */
        }
        .user-details img {
            width: 30px;
            height: 30px;
        }
        .user-details p{
            margin-left: 4px;
        }
        .user-type {
            margin-top: 1px; /* Space between name and user type */
        }
        #ult{
            margin-left: 11px;
            font-size: 15px;
        }
        .info:hover {
            background-color: rgba(11, 6, 53, 0.3); 
        }
        button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    height: 80px;
    width: 120px;
    transition: background-color 0.3s ease;
    position: relative;
    left: 100px;
    top: 20px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

button:hover {
    background-color: #196a29;
}
